In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [51]:
X_test_PassengerId = pd.read_csv('titanic/test.csv')['PassengerId']

In [13]:
train_df = pd.read_csv('titanic/train.csv')[['Sex', 'Parch', 'Fare', 'Age', 'Survived']]
test_df = pd.read_csv('titanic/test.csv')[['Sex', 'Parch', 'Fare', 'Age']]

In [58]:
train_df = pd.read_csv('titanic/train.csv')[['Sex', 'Parch', 'Fare', 'Age', 'Survived']]
test_df = pd.read_csv('titanic/test.csv')[['Sex', 'Parch', 'Fare', 'Age']]

# X_train.loc[:,('Sex')] = (X_train.loc[:,('Sex')]=='female')*1

train_df['Sex'] = (train_df['Sex']=='female')*1
train_df.fillna(20,inplace = True)
test_df['Sex'] = (train_df['Sex']=='female')*1
test_df.fillna(20,inplace = True)
X_train = train_df.drop(columns=['Survived'])
y_train = train_df['Survived']
X_test = test_df
X_train.sample(10)

     Sex  Parch      Fare    Age
315    1      0    7.8542  26.00
138    0      0    9.2167  16.00
851    0      0    7.7750  74.00
870    0      0    7.8958  26.00
699    0      0    7.6500  42.00
643    0      0   56.4958  20.00
305    0      2  151.5500   0.92
224    0      0   90.0000  38.00
605    0      0   15.5500  36.00
158    0      0    8.6625  20.00

In [56]:

clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [27]:
print(X_test.iloc[[0]])

SyntaxError: invalid syntax (<ipython-input-27-d1a064690f14>, line 1)

In [64]:
pred = clf.predict(X_test)
submission = pd.DataFrame(columns = ['PassengerId', 'Survived'])
submission['PassengerId'] = X_test_PassengerId
submission['Survived'] = pred

submission.sample(10)

     PassengerId  Survived
42           934         0
167         1059         0
62           954         0
242         1134         0
14           906         0
375         1267         1
254         1146         0
178         1070         0
2            894         0
406         1298         0

In [68]:
submission.to_csv('submission.csv',index = False)